<div (contextmenu)="__elementSelectionService.select('863484891',$event)" [ngStyle]="__elementSelectionService.getStyles('863484891')"(click)='__elementSelectionService.clear()'>
    <h2 (contextmenu)="__elementSelectionService.select('2010182104',$event)" [ngStyle]="__elementSelectionService.getStyles('2010182104')">
        <span id="health-page-heading" (contextmenu)="__elementSelectionService.select('2046240154',$event)" [ngStyle]="__elementSelectionService.getStyles('2046240154')">Health Checks</span>

        <button class="btn btn-primary float-right" (click)="refresh()" (contextmenu)="__elementSelectionService.select('195894878',$event)" [ngStyle]="__elementSelectionService.getStyles('195894878')">
            <fa-icon icon="sync" (contextmenu)="__elementSelectionService.select('740588419',$event)" [ngStyle]="__elementSelectionService.getStyles('740588419')"></fa-icon> <span (contextmenu)="__elementSelectionService.select('1544159726',$event)" [ngStyle]="__elementSelectionService.getStyles('1544159726')">Refresh</span>
        </button>
    </h2>

    <div class="table-responsive" (contextmenu)="__elementSelectionService.select('470889472',$event)" [ngStyle]="__elementSelectionService.getStyles('470889472')">
        <table id="healthCheck" class="table table-striped" aria-describedby="health-page-heading" (contextmenu)="__elementSelectionService.select('2133689906',$event)" [ngStyle]="__elementSelectionService.getStyles('2133689906')">
            <thead (contextmenu)="__elementSelectionService.select('1884951095',$event)" [ngStyle]="__elementSelectionService.getStyles('1884951095')">
                <tr (contextmenu)="__elementSelectionService.select('2094233763',$event)" [ngStyle]="__elementSelectionService.getStyles('2094233763')">
                    <th scope="col" (contextmenu)="__elementSelectionService.select('1777857037',$event)" [ngStyle]="__elementSelectionService.getStyles('1777857037')">Service Name</th>
                    <th scope="col" class="text-center" (contextmenu)="__elementSelectionService.select('2063131927',$event)" [ngStyle]="__elementSelectionService.getStyles('2063131927')">Status</th>
                    <th scope="col" class="text-center" (contextmenu)="__elementSelectionService.select('1511234517',$event)" [ngStyle]="__elementSelectionService.getStyles('1511234517')">Details</th>
                </tr>
            </thead>
            <tbody *ngIf="health" (contextmenu)="__elementSelectionService.select('1038284372',$event)" [ngStyle]="__elementSelectionService.getStyles('1038284372')">
                <tr *ngFor="let componentHealth of health.components | keys" (contextmenu)="__elementSelectionService.select('1808993407',$event)" [ngStyle]="__elementSelectionService.getStyles('1808993407')">
                    <td (contextmenu)="__elementSelectionService.select('1446939727',$event)" [ngStyle]="__elementSelectionService.getStyles('1446939727')">
                        <span class="text-capitalize" (contextmenu)="__elementSelectionService.select('280328302',$event)" [ngStyle]="__elementSelectionService.getStyles('280328302')">{{ componentHealth.key }}</span>
                    </td>
                    <td class="text-center" (contextmenu)="__elementSelectionService.select('986676346',$event)" [ngStyle]="__elementSelectionService.getStyles('986676346')">
                        <span class="badge" [ngClass]="getBadgeClass(componentHealth.value.status)" (contextmenu)="__elementSelectionService.select('1233928104',$event)" [ngStyle]="__elementSelectionService.getStyles('1233928104')">
                            {{ componentHealth.value.status }}
                        </span>
                    </td>
                    <td class="text-center" (contextmenu)="__elementSelectionService.select('1802669602',$event)" [ngStyle]="__elementSelectionService.getStyles('1802669602')">
                        <a class="hand" (click)="showHealth(componentHealth)" *ngIf="componentHealth.value.details" (contextmenu)="__elementSelectionService.select('1354759466',$event)" [ngStyle]="__elementSelectionService.getStyles('1354759466')">
                            <fa-icon icon="eye" (contextmenu)="__elementSelectionService.select('299001835',$event)" [ngStyle]="__elementSelectionService.getStyles('299001835')"></fa-icon>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
