<div (contextmenu)="__elementSelectionService.select('1373946829',$event)" [ngStyle]="__elementSelectionService.getStyles('1373946829')"(click)='__elementSelectionService.clear()'>
    <div class="row justify-content-center" (contextmenu)="__elementSelectionService.select('2033436941',$event)" [ngStyle]="__elementSelectionService.getStyles('2033436941')">
        <div class="col-md-8" (contextmenu)="__elementSelectionService.select('238978893',$event)" [ngStyle]="__elementSelectionService.getStyles('238978893')">
            <h1 (contextmenu)="__elementSelectionService.select('392972857',$event)" [ngStyle]="__elementSelectionService.getStyles('392972857')">Registration</h1>

            <div class="alert alert-success" *ngIf="success" (contextmenu)="__elementSelectionService.select('2037387206',$event)" [ngStyle]="__elementSelectionService.getStyles('2037387206')">
                <strong (contextmenu)="__elementSelectionService.select('510446148',$event)" [ngStyle]="__elementSelectionService.getStyles('510446148')">Registration saved!</strong> Please check your email for confirmation.
            </div>

            <div class="alert alert-danger" *ngIf="error" (contextmenu)="__elementSelectionService.select('1687302699',$event)" [ngStyle]="__elementSelectionService.getStyles('1687302699')">
                <strong (contextmenu)="__elementSelectionService.select('291143938',$event)" [ngStyle]="__elementSelectionService.getStyles('291143938')">Registration failed!</strong> Please try again later.
            </div>

            <div class="alert alert-danger" *ngIf="errorUserExists" (contextmenu)="__elementSelectionService.select('1747821264',$event)" [ngStyle]="__elementSelectionService.getStyles('1747821264')">
                <strong (contextmenu)="__elementSelectionService.select('283863931',$event)" [ngStyle]="__elementSelectionService.getStyles('283863931')">Login name already registered!</strong> Please choose another one.
            </div>

            <div class="alert alert-danger" *ngIf="errorEmailExists" (contextmenu)="__elementSelectionService.select('1696399399',$event)" [ngStyle]="__elementSelectionService.getStyles('1696399399')">
                <strong (contextmenu)="__elementSelectionService.select('537583383',$event)" [ngStyle]="__elementSelectionService.getStyles('537583383')">Email is already in use!</strong> Please choose another one.
            </div>

            <div class="alert alert-danger" *ngIf="doNotMatch" (contextmenu)="__elementSelectionService.select('632607460',$event)" [ngStyle]="__elementSelectionService.getStyles('632607460')">
                The password and its confirmation do not match!
            </div>
        </div>
    </div>

    <div class="row justify-content-center" (contextmenu)="__elementSelectionService.select('1850725786',$event)" [ngStyle]="__elementSelectionService.getStyles('1850725786')">
        <div class="col-md-8" (contextmenu)="__elementSelectionService.select('1667169356',$event)" [ngStyle]="__elementSelectionService.getStyles('1667169356')">
            <form name="form" role="form" (ngSubmit)="register()" [formGroup]="registerForm" *ngIf="!success" (contextmenu)="__elementSelectionService.select('358245719',$event)" [ngStyle]="__elementSelectionService.getStyles('358245719')">
                <div class="form-group" (contextmenu)="__elementSelectionService.select('385525482',$event)" [ngStyle]="__elementSelectionService.getStyles('385525482')">
                    <label class="form-control-label" for="login" (contextmenu)="__elementSelectionService.select('101270186',$event)" [ngStyle]="__elementSelectionService.getStyles('101270186')">Username</label>
                    <input type="text" class="form-control" id="login" name="login" placeholder="Your username" formControlName="login" #login (contextmenu)="__elementSelectionService.select('304177851',$event)" [ngStyle]="__elementSelectionService.getStyles('304177851')">

                    <div *ngIf="registerForm.get('login')!.invalid &#38;&#38; (registerForm.get('login')!.dirty || registerForm.get('login')!.touched)" (contextmenu)="__elementSelectionService.select('1410850165',$event)" [ngStyle]="__elementSelectionService.getStyles('1410850165')">
                        <small class="form-text text-danger" *ngIf="registerForm.get('login')?.errors?.required" (contextmenu)="__elementSelectionService.select('387579115',$event)" [ngStyle]="__elementSelectionService.getStyles('387579115')">
                            Your username is required.
                        </small>

                        <small class="form-text text-danger" *ngIf="registerForm.get('login')?.errors?.minlength" (contextmenu)="__elementSelectionService.select('1531572400',$event)" [ngStyle]="__elementSelectionService.getStyles('1531572400')">
                            Your username is required to be at least 1 character.
                        </small>

                        <small class="form-text text-danger" *ngIf="registerForm.get('login')?.errors?.maxlength" (contextmenu)="__elementSelectionService.select('1122268632',$event)" [ngStyle]="__elementSelectionService.getStyles('1122268632')">
                            Your username cannot be longer than 50 characters.
                        </small>

                        <small class="form-text text-danger" *ngIf="registerForm.get('login')?.errors?.pattern" (contextmenu)="__elementSelectionService.select('678618244',$event)" [ngStyle]="__elementSelectionService.getStyles('678618244')">
                            Your username can only contain letters and digits.
                        </small>
                    </div>
                </div>

                <div class="form-group" (contextmenu)="__elementSelectionService.select('1884597189',$event)" [ngStyle]="__elementSelectionService.getStyles('1884597189')">
                    <label class="form-control-label" for="email" (contextmenu)="__elementSelectionService.select('1686903055',$event)" [ngStyle]="__elementSelectionService.getStyles('1686903055')">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Your email" formControlName="email" (contextmenu)="__elementSelectionService.select('86502131',$event)" [ngStyle]="__elementSelectionService.getStyles('86502131')">

                    <div *ngIf="registerForm.get('email')!.invalid &#38;&#38; (registerForm.get('email')!.dirty || registerForm.get('email')!.touched)" (contextmenu)="__elementSelectionService.select('978216983',$event)" [ngStyle]="__elementSelectionService.getStyles('978216983')">
                        <small class="form-text text-danger" *ngIf="registerForm.get('email')?.errors?.required" (contextmenu)="__elementSelectionService.select('1871836696',$event)" [ngStyle]="__elementSelectionService.getStyles('1871836696')">
                            Your email is required.
                        </small>

                        <small class="form-text text-danger" *ngIf="registerForm.get('email')?.errors?.invalid" (contextmenu)="__elementSelectionService.select('1808916100',$event)" [ngStyle]="__elementSelectionService.getStyles('1808916100')">
                            Your email is invalid.
                        </small>

                        <small class="form-text text-danger" *ngIf="registerForm.get('email')?.errors?.minlength" (contextmenu)="__elementSelectionService.select('1360777599',$event)" [ngStyle]="__elementSelectionService.getStyles('1360777599')">
                            Your email is required to be at least 5 characters.
                        </small>

                        <small class="form-text text-danger" *ngIf="registerForm.get('email')?.errors?.maxlength" (contextmenu)="__elementSelectionService.select('417076635',$event)" [ngStyle]="__elementSelectionService.getStyles('417076635')">
                            Your email cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group" (contextmenu)="__elementSelectionService.select('2015166894',$event)" [ngStyle]="__elementSelectionService.getStyles('2015166894')">
                    <label class="form-control-label" for="password" (contextmenu)="__elementSelectionService.select('501073367',$event)" [ngStyle]="__elementSelectionService.getStyles('501073367')">New password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="New password" formControlName="password" (contextmenu)="__elementSelectionService.select('306347834',$event)" [ngStyle]="__elementSelectionService.getStyles('306347834')">

                    <div *ngIf="registerForm.get('password')!.invalid &#38;&#38; (registerForm.get('password')!.dirty || registerForm.get('password')!.touched)" (contextmenu)="__elementSelectionService.select('1791672356',$event)" [ngStyle]="__elementSelectionService.getStyles('1791672356')">
                        <small class="form-text text-danger" *ngIf="registerForm.get('password')?.errors?.required" (contextmenu)="__elementSelectionService.select('2060106914',$event)" [ngStyle]="__elementSelectionService.getStyles('2060106914')">
                            Your password is required.
                        </small>

                        <small class="form-text text-danger" *ngIf="registerForm.get('password')?.errors?.minlength" (contextmenu)="__elementSelectionService.select('164244817',$event)" [ngStyle]="__elementSelectionService.getStyles('164244817')">
                            Your password is required to be at least 4 characters.
                        </small>

                        <small class="form-text text-danger" *ngIf="registerForm.get('password')?.errors?.maxlength" (contextmenu)="__elementSelectionService.select('141572349',$event)" [ngStyle]="__elementSelectionService.getStyles('141572349')">
                            Your password cannot be longer than 50 characters.
                        </small>
                    </div>

                    <jhi-password-strength-bar [passwordToCheck]="registerForm.get('password')!.value" (contextmenu)="__elementSelectionService.select('872878647',$event)" [ngStyle]="__elementSelectionService.getStyles('872878647')"></jhi-password-strength-bar>
                </div>

                <div class="form-group" (contextmenu)="__elementSelectionService.select('461866937',$event)" [ngStyle]="__elementSelectionService.getStyles('461866937')">
                    <label class="form-control-label" for="confirmPassword" (contextmenu)="__elementSelectionService.select('1132429629',$event)" [ngStyle]="__elementSelectionService.getStyles('1132429629')">New password confirmation</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm the new password" formControlName="confirmPassword" (contextmenu)="__elementSelectionService.select('1245834879',$event)" [ngStyle]="__elementSelectionService.getStyles('1245834879')">

                    <div *ngIf="registerForm.get('confirmPassword')!.invalid &#38;&#38; (registerForm.get('confirmPassword')!.dirty || registerForm.get('confirmPassword')!.touched)" (contextmenu)="__elementSelectionService.select('1180421034',$event)" [ngStyle]="__elementSelectionService.getStyles('1180421034')">
                        <small class="form-text text-danger" *ngIf="registerForm.get('confirmPassword')?.errors?.required" (contextmenu)="__elementSelectionService.select('1640380055',$event)" [ngStyle]="__elementSelectionService.getStyles('1640380055')">
                            Your confirmation password is required.
                        </small>

                        <small class="form-text text-danger" *ngIf="registerForm.get('confirmPassword')?.errors?.minlength" (contextmenu)="__elementSelectionService.select('1578051067',$event)" [ngStyle]="__elementSelectionService.getStyles('1578051067')">
                            Your confirmation password is required to be at least 4 characters.
                        </small>

                        <small class="form-text text-danger" *ngIf="registerForm.get('confirmPassword')?.errors?.maxlength" (contextmenu)="__elementSelectionService.select('469244499',$event)" [ngStyle]="__elementSelectionService.getStyles('469244499')">
                            Your confirmation password cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>

                <button type="submit" [disabled]="registerForm.invalid" class="btn btn-primary" (contextmenu)="__elementSelectionService.select('57050141',$event)" [ngStyle]="__elementSelectionService.getStyles('57050141')">Register</button>
            </form>

            <div class="mt-3 alert alert-warning" (contextmenu)="__elementSelectionService.select('1396992104',$event)" [ngStyle]="__elementSelectionService.getStyles('1396992104')">
                <span (contextmenu)="__elementSelectionService.select('1958981382',$event)" [ngStyle]="__elementSelectionService.getStyles('1958981382')">If you want to </span>
                <a class="alert-link" (click)="openLogin()" (contextmenu)="__elementSelectionService.select('791808335',$event)" [ngStyle]="__elementSelectionService.getStyles('791808335')">sign in</a><span (contextmenu)="__elementSelectionService.select('415446744',$event)" [ngStyle]="__elementSelectionService.getStyles('415446744')">, you can try the default accounts:<br (contextmenu)="__elementSelectionService.select('1748245120',$event)" [ngStyle]="__elementSelectionService.getStyles('1748245120')">- Administrator (login=&#34;admin&#34; and password=&#34;admin&#34;) <br (contextmenu)="__elementSelectionService.select('31859487',$event)" [ngStyle]="__elementSelectionService.getStyles('31859487')">- User (login=&#34;user&#34; and password=&#34;user&#34;).</span>
            </div>
        </div>
    </div>
</div>
