<form *ngIf="user" name="deleteForm" (ngSubmit)="confirmDelete(user?.login!)" (contextmenu)="__elementSelectionService.select('1577135342',$event)" [ngStyle]="__elementSelectionService.getStyles('1577135342')"(click)='__elementSelectionService.clear()'>
    <div class="modal-header" (contextmenu)="__elementSelectionService.select('726246587',$event)" [ngStyle]="__elementSelectionService.getStyles('726246587')">
        <h4 class="modal-title" (contextmenu)="__elementSelectionService.select('2096667488',$event)" [ngStyle]="__elementSelectionService.getStyles('2096667488')">Confirm delete operation</h4>

        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="cancel()" (contextmenu)="__elementSelectionService.select('100455037',$event)" [ngStyle]="__elementSelectionService.getStyles('100455037')">&#215;</button>
    </div>

    <div class="modal-body" (contextmenu)="__elementSelectionService.select('520256199',$event)" [ngStyle]="__elementSelectionService.getStyles('520256199')">
        <jhi-alert-error (contextmenu)="__elementSelectionService.select('2030598624',$event)" [ngStyle]="__elementSelectionService.getStyles('2030598624')"></jhi-alert-error>

        <p (contextmenu)="__elementSelectionService.select('1091821114',$event)" [ngStyle]="__elementSelectionService.getStyles('1091821114')">Are you sure you want to delete this User?</p>
    </div>

    <div class="modal-footer" (contextmenu)="__elementSelectionService.select('580883295',$event)" [ngStyle]="__elementSelectionService.getStyles('580883295')">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()" (contextmenu)="__elementSelectionService.select('784793993',$event)" [ngStyle]="__elementSelectionService.getStyles('784793993')">
            <fa-icon icon="ban" (contextmenu)="__elementSelectionService.select('347777736',$event)" [ngStyle]="__elementSelectionService.getStyles('347777736')"></fa-icon>&#160;<span (contextmenu)="__elementSelectionService.select('1258767467',$event)" [ngStyle]="__elementSelectionService.getStyles('1258767467')">Cancel</span>
        </button>

        <button type="submit" class="btn btn-danger" (contextmenu)="__elementSelectionService.select('366748479',$event)" [ngStyle]="__elementSelectionService.getStyles('366748479')">
            <fa-icon icon="times" (contextmenu)="__elementSelectionService.select('58831684',$event)" [ngStyle]="__elementSelectionService.getStyles('58831684')"></fa-icon>&#160;<span (contextmenu)="__elementSelectionService.select('1118614806',$event)" [ngStyle]="__elementSelectionService.getStyles('1118614806')">Delete</span>
        </button>
    </div>
</form>
