<div (contextmenu)="__elementSelectionService.select('1351308428',$event)" [ngStyle]="__elementSelectionService.getStyles('1351308428')"(click)='__elementSelectionService.clear()'>
    <h2 (contextmenu)="__elementSelectionService.select('919240714',$event)" [ngStyle]="__elementSelectionService.getStyles('919240714')">
        <span id="user-management-page-heading" (contextmenu)="__elementSelectionService.select('1013943659',$event)" [ngStyle]="__elementSelectionService.getStyles('1013943659')">Users</span>

        <button class="btn btn-primary float-right jh-create-entity" [routerLink]="['./new']" (contextmenu)="__elementSelectionService.select('368434589',$event)" [ngStyle]="__elementSelectionService.getStyles('368434589')">
            <fa-icon icon="plus" (contextmenu)="__elementSelectionService.select('2028122141',$event)" [ngStyle]="__elementSelectionService.getStyles('2028122141')"></fa-icon> <span (contextmenu)="__elementSelectionService.select('449492443',$event)" [ngStyle]="__elementSelectionService.getStyles('449492443')">Create a new User</span>
        </button>
    </h2>

    <jhi-alert-error (contextmenu)="__elementSelectionService.select('1519281980',$event)" [ngStyle]="__elementSelectionService.getStyles('1519281980')"></jhi-alert-error>

    <jhi-alert (contextmenu)="__elementSelectionService.select('1638678725',$event)" [ngStyle]="__elementSelectionService.getStyles('1638678725')"></jhi-alert>

    <div class="table-responsive" *ngIf="users" (contextmenu)="__elementSelectionService.select('203650741',$event)" [ngStyle]="__elementSelectionService.getStyles('203650741')">
        <table class="table table-striped" aria-describedby="user-management-page-heading" (contextmenu)="__elementSelectionService.select('1124626055',$event)" [ngStyle]="__elementSelectionService.getStyles('1124626055')">
            <thead (contextmenu)="__elementSelectionService.select('1788233309',$event)" [ngStyle]="__elementSelectionService.getStyles('1788233309')">
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="transition.bind(this)" (contextmenu)="__elementSelectionService.select('1765775778',$event)" [ngStyle]="__elementSelectionService.getStyles('1765775778')">
                    <th scope="col" jhiSortBy="id" (contextmenu)="__elementSelectionService.select('2118044910',$event)" [ngStyle]="__elementSelectionService.getStyles('2118044910')"><span (contextmenu)="__elementSelectionService.select('2126703096',$event)" [ngStyle]="__elementSelectionService.getStyles('2126703096')">ID</span> <fa-icon icon="sort" (contextmenu)="__elementSelectionService.select('641662163',$event)" [ngStyle]="__elementSelectionService.getStyles('641662163')"></fa-icon></th>
                    <th scope="col" jhiSortBy="login" (contextmenu)="__elementSelectionService.select('869897023',$event)" [ngStyle]="__elementSelectionService.getStyles('869897023')"><span (contextmenu)="__elementSelectionService.select('990404630',$event)" [ngStyle]="__elementSelectionService.getStyles('990404630')">Login</span> <fa-icon icon="sort" (contextmenu)="__elementSelectionService.select('1382859686',$event)" [ngStyle]="__elementSelectionService.getStyles('1382859686')"></fa-icon></th>
                    <th scope="col" jhiSortBy="email" (contextmenu)="__elementSelectionService.select('65365340',$event)" [ngStyle]="__elementSelectionService.getStyles('65365340')"><span (contextmenu)="__elementSelectionService.select('2094685812',$event)" [ngStyle]="__elementSelectionService.getStyles('2094685812')">Email</span> <fa-icon icon="sort" (contextmenu)="__elementSelectionService.select('78289193',$event)" [ngStyle]="__elementSelectionService.getStyles('78289193')"></fa-icon></th>
                    <th scope="col" (contextmenu)="__elementSelectionService.select('812583913',$event)" [ngStyle]="__elementSelectionService.getStyles('812583913')"></th>
                    <th scope="col" (contextmenu)="__elementSelectionService.select('403195709',$event)" [ngStyle]="__elementSelectionService.getStyles('403195709')"><span (contextmenu)="__elementSelectionService.select('906986422',$event)" [ngStyle]="__elementSelectionService.getStyles('906986422')">Profiles</span></th>
                    <th scope="col" jhiSortBy="createdDate" (contextmenu)="__elementSelectionService.select('1723606927',$event)" [ngStyle]="__elementSelectionService.getStyles('1723606927')"><span (contextmenu)="__elementSelectionService.select('784619762',$event)" [ngStyle]="__elementSelectionService.getStyles('784619762')">Created Date</span> <fa-icon icon="sort" (contextmenu)="__elementSelectionService.select('1949287352',$event)" [ngStyle]="__elementSelectionService.getStyles('1949287352')"></fa-icon></th>
                    <th scope="col" jhiSortBy="lastModifiedBy" (contextmenu)="__elementSelectionService.select('1056439480',$event)" [ngStyle]="__elementSelectionService.getStyles('1056439480')"><span (contextmenu)="__elementSelectionService.select('972039350',$event)" [ngStyle]="__elementSelectionService.getStyles('972039350')">Last Modified By</span> <fa-icon icon="sort" (contextmenu)="__elementSelectionService.select('905967794',$event)" [ngStyle]="__elementSelectionService.getStyles('905967794')"></fa-icon></th>
                    <th scope="col" jhiSortBy="lastModifiedDate" (contextmenu)="__elementSelectionService.select('1061674934',$event)" [ngStyle]="__elementSelectionService.getStyles('1061674934')"><span (contextmenu)="__elementSelectionService.select('1054144218',$event)" [ngStyle]="__elementSelectionService.getStyles('1054144218')">Last Modified Date</span> <fa-icon icon="sort" (contextmenu)="__elementSelectionService.select('104439842',$event)" [ngStyle]="__elementSelectionService.getStyles('104439842')"></fa-icon></th>
                    <th scope="col" (contextmenu)="__elementSelectionService.select('1279910463',$event)" [ngStyle]="__elementSelectionService.getStyles('1279910463')"></th>
                </tr>
            </thead>
            <tbody *ngIf="users" (contextmenu)="__elementSelectionService.select('1307717231',$event)" [ngStyle]="__elementSelectionService.getStyles('1307717231')">
                <tr *ngFor="let user of users; trackBy: trackIdentity" (contextmenu)="__elementSelectionService.select('1418294061',$event)" [ngStyle]="__elementSelectionService.getStyles('1418294061')">
                    <td (contextmenu)="__elementSelectionService.select('536535342',$event)" [ngStyle]="__elementSelectionService.getStyles('536535342')"><a [routerLink]="['./', user.login, 'view']" (contextmenu)="__elementSelectionService.select('471970036',$event)" [ngStyle]="__elementSelectionService.getStyles('471970036')">{{ user.id }}</a></td>
                    <td (contextmenu)="__elementSelectionService.select('1090282569',$event)" [ngStyle]="__elementSelectionService.getStyles('1090282569')">{{ user.login }}</td>
                    <td (contextmenu)="__elementSelectionService.select('1601398624',$event)" [ngStyle]="__elementSelectionService.getStyles('1601398624')">{{ user.email }}</td>
                    <td (contextmenu)="__elementSelectionService.select('398990897',$event)" [ngStyle]="__elementSelectionService.getStyles('398990897')">
                        <button class="btn btn-danger btn-sm" (click)="setActive(user, true)" *ngIf="!user.activated" (contextmenu)="__elementSelectionService.select('109034028',$event)" [ngStyle]="__elementSelectionService.getStyles('109034028')">Deactivated</button>
                        <button class="btn btn-success btn-sm" (click)="setActive(user, false)" *ngIf="user.activated" [disabled]="!currentAccount || currentAccount.login === user.login" (contextmenu)="__elementSelectionService.select('620910726',$event)" [ngStyle]="__elementSelectionService.getStyles('620910726')">Activated</button>
                    </td>
                    <td (contextmenu)="__elementSelectionService.select('1628336929',$event)" [ngStyle]="__elementSelectionService.getStyles('1628336929')">
                        <div *ngFor="let authority of user.authorities" (contextmenu)="__elementSelectionService.select('920703143',$event)" [ngStyle]="__elementSelectionService.getStyles('920703143')">
                            <span class="badge badge-info" (contextmenu)="__elementSelectionService.select('1295364749',$event)" [ngStyle]="__elementSelectionService.getStyles('1295364749')">{{ authority }}</span>
                        </div>
                    </td>
                    <td (contextmenu)="__elementSelectionService.select('2059666885',$event)" [ngStyle]="__elementSelectionService.getStyles('2059666885')">{{ user.createdDate | date:'dd/MM/yy HH:mm' }}</td>
                    <td (contextmenu)="__elementSelectionService.select('1749153479',$event)" [ngStyle]="__elementSelectionService.getStyles('1749153479')">{{ user.lastModifiedBy }}</td>
                    <td (contextmenu)="__elementSelectionService.select('1486120576',$event)" [ngStyle]="__elementSelectionService.getStyles('1486120576')">{{ user.lastModifiedDate | date:'dd/MM/yy HH:mm' }}</td>
                    <td class="text-right" (contextmenu)="__elementSelectionService.select('945100485',$event)" [ngStyle]="__elementSelectionService.getStyles('945100485')">
                        <div class="btn-group" (contextmenu)="__elementSelectionService.select('1650841127',$event)" [ngStyle]="__elementSelectionService.getStyles('1650841127')">
                            <button type="submit" [routerLink]="['./', user.login, 'view']" class="btn btn-info btn-sm" (contextmenu)="__elementSelectionService.select('91616098',$event)" [ngStyle]="__elementSelectionService.getStyles('91616098')">
                                <fa-icon icon="eye" (contextmenu)="__elementSelectionService.select('2116957482',$event)" [ngStyle]="__elementSelectionService.getStyles('2116957482')"></fa-icon>
                                <span class="d-none d-md-inline" (contextmenu)="__elementSelectionService.select('1851651860',$event)" [ngStyle]="__elementSelectionService.getStyles('1851651860')">View</span>
                            </button>

                            <button type="submit" [routerLink]="['./', user.login, 'edit']" queryParamsHandling="merge" class="btn btn-primary btn-sm" (contextmenu)="__elementSelectionService.select('574996502',$event)" [ngStyle]="__elementSelectionService.getStyles('574996502')">
                                <fa-icon icon="pencil-alt" (contextmenu)="__elementSelectionService.select('134339039',$event)" [ngStyle]="__elementSelectionService.getStyles('134339039')"></fa-icon>
                                <span class="d-none d-md-inline" (contextmenu)="__elementSelectionService.select('118045328',$event)" [ngStyle]="__elementSelectionService.getStyles('118045328')">Edit</span>
                            </button>

                            <button type="button" (click)="deleteUser(user)" class="btn btn-danger btn-sm" [disabled]="!currentAccount || currentAccount.login === user.login" (contextmenu)="__elementSelectionService.select('107845682',$event)" [ngStyle]="__elementSelectionService.getStyles('107845682')">
                                <fa-icon icon="times" (contextmenu)="__elementSelectionService.select('178564505',$event)" [ngStyle]="__elementSelectionService.getStyles('178564505')"></fa-icon>
                                <span class="d-none d-md-inline" (contextmenu)="__elementSelectionService.select('208491059',$event)" [ngStyle]="__elementSelectionService.getStyles('208491059')">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="users" (contextmenu)="__elementSelectionService.select('1115563156',$event)" [ngStyle]="__elementSelectionService.getStyles('1115563156')">
        <div class="row justify-content-center" (contextmenu)="__elementSelectionService.select('683182305',$event)" [ngStyle]="__elementSelectionService.getStyles('683182305')">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage" (contextmenu)="__elementSelectionService.select('132063242',$event)" [ngStyle]="__elementSelectionService.getStyles('132063242')"></jhi-item-count>
        </div>

        <div class="row justify-content-center" (contextmenu)="__elementSelectionService.select('1640302088',$event)" [ngStyle]="__elementSelectionService.getStyles('1640302088')">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="transition()" (contextmenu)="__elementSelectionService.select('1378669600',$event)" [ngStyle]="__elementSelectionService.getStyles('1378669600')"></ngb-pagination>
        </div>
    </div>
</div>
