<div (contextmenu)="__elementSelectionService.select('2037917141',$event)" [ngStyle]="__elementSelectionService.getStyles('2037917141')"(click)='__elementSelectionService.clear()'>
    <div class="row justify-content-center" (contextmenu)="__elementSelectionService.select('1061483397',$event)" [ngStyle]="__elementSelectionService.getStyles('1061483397')">
        <div class="col-md-8" (contextmenu)="__elementSelectionService.select('128597813',$event)" [ngStyle]="__elementSelectionService.getStyles('128597813')">
            <h1 (contextmenu)="__elementSelectionService.select('530519536',$event)" [ngStyle]="__elementSelectionService.getStyles('530519536')">Reset your password</h1>

            <jhi-alert-error (contextmenu)="__elementSelectionService.select('316358845',$event)" [ngStyle]="__elementSelectionService.getStyles('316358845')"></jhi-alert-error>

            <div class="alert alert-warning" *ngIf="!success" (contextmenu)="__elementSelectionService.select('177947064',$event)" [ngStyle]="__elementSelectionService.getStyles('177947064')">
                <span (contextmenu)="__elementSelectionService.select('1553896521',$event)" [ngStyle]="__elementSelectionService.getStyles('1553896521')">Enter the email address you used to register.</span>
            </div>

            <div class="alert alert-success" *ngIf="success" (contextmenu)="__elementSelectionService.select('1003039423',$event)" [ngStyle]="__elementSelectionService.getStyles('1003039423')">
                <span (contextmenu)="__elementSelectionService.select('1944013779',$event)" [ngStyle]="__elementSelectionService.getStyles('1944013779')">Check your emails for details on how to reset your password.</span>
            </div>

            <form *ngIf="!success" name="form" role="form" (ngSubmit)="requestReset()" [formGroup]="resetRequestForm" (contextmenu)="__elementSelectionService.select('588862097',$event)" [ngStyle]="__elementSelectionService.getStyles('588862097')">
                <div class="form-group" (contextmenu)="__elementSelectionService.select('185448039',$event)" [ngStyle]="__elementSelectionService.getStyles('185448039')">
                    <label class="form-control-label" for="email" (contextmenu)="__elementSelectionService.select('2036595051',$event)" [ngStyle]="__elementSelectionService.getStyles('2036595051')">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Your email" formControlName="email" #email (contextmenu)="__elementSelectionService.select('1886106695',$event)" [ngStyle]="__elementSelectionService.getStyles('1886106695')">

                    <div *ngIf="resetRequestForm.get('email')!.invalid &#38;&#38; (resetRequestForm.get('email')!.dirty || resetRequestForm.get('email')!.touched)" (contextmenu)="__elementSelectionService.select('420474113',$event)" [ngStyle]="__elementSelectionService.getStyles('420474113')">
                        <small class="form-text text-danger" *ngIf="resetRequestForm.get('email')?.errors?.required" (contextmenu)="__elementSelectionService.select('2144849609',$event)" [ngStyle]="__elementSelectionService.getStyles('2144849609')">
                            Your email is required.
                        </small>

                        <small class="form-text text-danger" *ngIf="resetRequestForm.get('email')?.errors?.email" (contextmenu)="__elementSelectionService.select('429512953',$event)" [ngStyle]="__elementSelectionService.getStyles('429512953')">
                            Your email is invalid.
                        </small>

                        <small class="form-text text-danger" *ngIf="resetRequestForm.get('email')?.errors?.minlength" (contextmenu)="__elementSelectionService.select('880647681',$event)" [ngStyle]="__elementSelectionService.getStyles('880647681')">
                            Your email is required to be at least 5 characters.
                        </small>

                        <small class="form-text text-danger" *ngIf="resetRequestForm.get('email')?.errors?.maxlength" (contextmenu)="__elementSelectionService.select('1392253546',$event)" [ngStyle]="__elementSelectionService.getStyles('1392253546')">
                            Your email cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>

                <button type="submit" [disabled]="resetRequestForm.invalid" class="btn btn-primary" (contextmenu)="__elementSelectionService.select('320612218',$event)" [ngStyle]="__elementSelectionService.getStyles('320612218')">Reset</button>
            </form>
        </div>
    </div>
</div>
