<div (contextmenu)="__elementSelectionService.select('136481033',$event)" [ngStyle]="__elementSelectionService.getStyles('136481033')"(click)='__elementSelectionService.clear()'>
    <div class="row" (contextmenu)="__elementSelectionService.select('1101877424',$event)" [ngStyle]="__elementSelectionService.getStyles('1101877424')">
        <div class="col-md-4" (contextmenu)="__elementSelectionService.select('1566307149',$event)" [ngStyle]="__elementSelectionService.getStyles('1566307149')">
            <span class="hipster img-fluid rounded" (contextmenu)="__elementSelectionService.select('327357569',$event)" [ngStyle]="__elementSelectionService.getStyles('327357569')"></span>
        </div>

        <div class="col-md-8" (contextmenu)="__elementSelectionService.select('495986323',$event)" [ngStyle]="__elementSelectionService.getStyles('495986323')">
            <h1 (contextmenu)="__elementSelectionService.select('915656001',$event)" [ngStyle]="__elementSelectionService.getStyles('915656001')">Error Page!</h1>

            <div *ngIf="errorMessage" (contextmenu)="__elementSelectionService.select('877691205',$event)" [ngStyle]="__elementSelectionService.getStyles('877691205')">
                <div class="alert alert-danger" (contextmenu)="__elementSelectionService.select('1065135186',$event)" [ngStyle]="__elementSelectionService.getStyles('1065135186')">{{ errorMessage }}</div>
            </div>
        </div>
    </div>
</div>
