<jhi-page-ribbon (contextmenu)="__elementSelectionService.select('432757431',$event)" [ngStyle]="__elementSelectionService.getStyles('432757431')"(click)='__elementSelectionService.clear()'></jhi-page-ribbon>

<div (contextmenu)="__elementSelectionService.select('2059088791',$event)" [ngStyle]="__elementSelectionService.getStyles('2059088791')"(click)='__elementSelectionService.clear()'>
    <router-outlet name="navbar" (contextmenu)="__elementSelectionService.select('461450698',$event)" [ngStyle]="__elementSelectionService.getStyles('461450698')"></router-outlet>
</div>

<div class="container-fluid" (contextmenu)="__elementSelectionService.select('1633307095',$event)" [ngStyle]="__elementSelectionService.getStyles('1633307095')"(click)='__elementSelectionService.clear()'>
    <div class="card jh-card" (contextmenu)="__elementSelectionService.select('682019740',$event)" [ngStyle]="__elementSelectionService.getStyles('682019740')">
        <router-outlet (contextmenu)="__elementSelectionService.select('384153304',$event)" [ngStyle]="__elementSelectionService.getStyles('384153304')"></router-outlet>
    </div>

    <jhi-footer (contextmenu)="__elementSelectionService.select('786679650',$event)" [ngStyle]="__elementSelectionService.getStyles('786679650')"></jhi-footer>
</div>
