<nav class="navbar navbar-dark navbar-expand-md bg-dark" (contextmenu)="__elementSelectionService.select('187850435',$event)" [ngStyle]="__elementSelectionService.getStyles('187850435')"(click)='__elementSelectionService.clear()'>
    <a class="navbar-brand logo" routerLink="/" (click)="collapseNavbar()" (contextmenu)="__elementSelectionService.select('1557995428',$event)" [ngStyle]="__elementSelectionService.getStyles('1557995428')">
        <span class="logo-img" (contextmenu)="__elementSelectionService.select('1166051002',$event)" [ngStyle]="__elementSelectionService.getStyles('1166051002')"></span>
        <span class="navbar-title" (contextmenu)="__elementSelectionService.select('731253921',$event)" [ngStyle]="__elementSelectionService.getStyles('731253921')">Demo5</span> <span class="navbar-version" (contextmenu)="__elementSelectionService.select('315803190',$event)" [ngStyle]="__elementSelectionService.getStyles('315803190')">{{ version }}</span>
    </a>
    <a class="navbar-toggler d-lg-none" href="javascript:void(0);" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()" (contextmenu)="__elementSelectionService.select('650562551',$event)" [ngStyle]="__elementSelectionService.getStyles('650562551')">
        <fa-icon icon="bars" (contextmenu)="__elementSelectionService.select('1731345603',$event)" [ngStyle]="__elementSelectionService.getStyles('1731345603')"></fa-icon>
    </a>
    <div class="navbar-collapse collapse" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="isAuthenticated()" (contextmenu)="__elementSelectionService.select('2094716800',$event)" [ngStyle]="__elementSelectionService.getStyles('2094716800')">
        <ul class="navbar-nav ml-auto" (contextmenu)="__elementSelectionService.select('2017287515',$event)" [ngStyle]="__elementSelectionService.getStyles('2017287515')">
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (contextmenu)="__elementSelectionService.select('1748281560',$event)" [ngStyle]="__elementSelectionService.getStyles('1748281560')">
                <a class="nav-link" routerLink="/" (click)="collapseNavbar()" (contextmenu)="__elementSelectionService.select('513168697',$event)" [ngStyle]="__elementSelectionService.getStyles('513168697')">
                    <span (contextmenu)="__elementSelectionService.select('886761404',$event)" [ngStyle]="__elementSelectionService.getStyles('886761404')">
                        <fa-icon icon="home" (contextmenu)="__elementSelectionService.select('639611897',$event)" [ngStyle]="__elementSelectionService.getStyles('639611897')"></fa-icon>
                        <span (contextmenu)="__elementSelectionService.select('1805692298',$event)" [ngStyle]="__elementSelectionService.getStyles('1805692298')">Home</span>
                    </span>
                </a>
            </li>
            
            <li *ngSwitchCase="true" ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (contextmenu)="__elementSelectionService.select('1194529370',$event)" [ngStyle]="__elementSelectionService.getStyles('1194529370')">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="entity-menu" (contextmenu)="__elementSelectionService.select('607648263',$event)" [ngStyle]="__elementSelectionService.getStyles('607648263')">
                    <span (contextmenu)="__elementSelectionService.select('2137789699',$event)" [ngStyle]="__elementSelectionService.getStyles('2137789699')">
                        <fa-icon icon="th-list" (contextmenu)="__elementSelectionService.select('290335641',$event)" [ngStyle]="__elementSelectionService.getStyles('290335641')"></fa-icon>
                        <span (contextmenu)="__elementSelectionService.select('1311791656',$event)" [ngStyle]="__elementSelectionService.getStyles('1311791656')">
                            Entities
                        </span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="entity-menu" (contextmenu)="__elementSelectionService.select('1439462955',$event)" [ngStyle]="__elementSelectionService.getStyles('1439462955')">
                    
                </ul>
            </li>
            <li *jhiHasAnyAuthority="'ROLE_ADMIN'" ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (contextmenu)="__elementSelectionService.select('1243067804',$event)" [ngStyle]="__elementSelectionService.getStyles('1243067804')">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="admin-menu" (contextmenu)="__elementSelectionService.select('719670692',$event)" [ngStyle]="__elementSelectionService.getStyles('719670692')">
                    <span (contextmenu)="__elementSelectionService.select('1724425162',$event)" [ngStyle]="__elementSelectionService.getStyles('1724425162')">
                        <fa-icon icon="user-plus" (contextmenu)="__elementSelectionService.select('1350827030',$event)" [ngStyle]="__elementSelectionService.getStyles('1350827030')"></fa-icon>
                        <span (contextmenu)="__elementSelectionService.select('667883727',$event)" [ngStyle]="__elementSelectionService.getStyles('667883727')">Administration</span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="admin-menu" (contextmenu)="__elementSelectionService.select('667412991',$event)" [ngStyle]="__elementSelectionService.getStyles('667412991')">
                    <li (contextmenu)="__elementSelectionService.select('70436926',$event)" [ngStyle]="__elementSelectionService.getStyles('70436926')">
                        <a class="dropdown-item" routerLink="admin/user-management" routerLinkActive="active" (click)="collapseNavbar()" (contextmenu)="__elementSelectionService.select('1260316642',$event)" [ngStyle]="__elementSelectionService.getStyles('1260316642')">
                            <fa-icon icon="user" [fixedWidth]="true" (contextmenu)="__elementSelectionService.select('348686126',$event)" [ngStyle]="__elementSelectionService.getStyles('348686126')"></fa-icon>
                            <span (contextmenu)="__elementSelectionService.select('207096921',$event)" [ngStyle]="__elementSelectionService.getStyles('207096921')">User management</span>
                        </a>
                    </li>
                    <li (contextmenu)="__elementSelectionService.select('515462868',$event)" [ngStyle]="__elementSelectionService.getStyles('515462868')">
                        <a class="dropdown-item" routerLink="admin/metrics" routerLinkActive="active" (click)="collapseNavbar()" (contextmenu)="__elementSelectionService.select('572818198',$event)" [ngStyle]="__elementSelectionService.getStyles('572818198')">
                            <fa-icon icon="tachometer-alt" [fixedWidth]="true" (contextmenu)="__elementSelectionService.select('1912967563',$event)" [ngStyle]="__elementSelectionService.getStyles('1912967563')"></fa-icon>
                            <span (contextmenu)="__elementSelectionService.select('1047748950',$event)" [ngStyle]="__elementSelectionService.getStyles('1047748950')">Metrics</span>
                        </a>
                    </li>
                    <li (contextmenu)="__elementSelectionService.select('1789435834',$event)" [ngStyle]="__elementSelectionService.getStyles('1789435834')">
                        <a class="dropdown-item" routerLink="admin/health" routerLinkActive="active" (click)="collapseNavbar()" (contextmenu)="__elementSelectionService.select('1813155274',$event)" [ngStyle]="__elementSelectionService.getStyles('1813155274')">
                            <fa-icon icon="heart" [fixedWidth]="true" (contextmenu)="__elementSelectionService.select('851820554',$event)" [ngStyle]="__elementSelectionService.getStyles('851820554')"></fa-icon>
                            <span (contextmenu)="__elementSelectionService.select('387542741',$event)" [ngStyle]="__elementSelectionService.getStyles('387542741')">Health</span>
                        </a>
                    </li>
                    <li (contextmenu)="__elementSelectionService.select('971138755',$event)" [ngStyle]="__elementSelectionService.getStyles('971138755')">
                        <a class="dropdown-item" routerLink="admin/configuration" routerLinkActive="active" (click)="collapseNavbar()" (contextmenu)="__elementSelectionService.select('1097253096',$event)" [ngStyle]="__elementSelectionService.getStyles('1097253096')">
                            <fa-icon icon="list" [fixedWidth]="true" (contextmenu)="__elementSelectionService.select('1572834654',$event)" [ngStyle]="__elementSelectionService.getStyles('1572834654')"></fa-icon>
                            <span (contextmenu)="__elementSelectionService.select('25968634',$event)" [ngStyle]="__elementSelectionService.getStyles('25968634')">Configuration</span>
                        </a>
                    </li>
                    <li (contextmenu)="__elementSelectionService.select('728925558',$event)" [ngStyle]="__elementSelectionService.getStyles('728925558')">
                        <a class="dropdown-item" routerLink="admin/audits" routerLinkActive="active" (click)="collapseNavbar()" (contextmenu)="__elementSelectionService.select('1558475120',$event)" [ngStyle]="__elementSelectionService.getStyles('1558475120')">
                            <fa-icon icon="bell" [fixedWidth]="true" (contextmenu)="__elementSelectionService.select('2098254543',$event)" [ngStyle]="__elementSelectionService.getStyles('2098254543')"></fa-icon>
                            <span (contextmenu)="__elementSelectionService.select('495141240',$event)" [ngStyle]="__elementSelectionService.getStyles('495141240')">Audits</span>
                        </a>
                    </li>
                    <li (contextmenu)="__elementSelectionService.select('585449099',$event)" [ngStyle]="__elementSelectionService.getStyles('585449099')">
                        <a class="dropdown-item" routerLink="admin/logs" routerLinkActive="active" (click)="collapseNavbar()" (contextmenu)="__elementSelectionService.select('1576383574',$event)" [ngStyle]="__elementSelectionService.getStyles('1576383574')">
                            <fa-icon icon="tasks" [fixedWidth]="true" (contextmenu)="__elementSelectionService.select('646480781',$event)" [ngStyle]="__elementSelectionService.getStyles('646480781')"></fa-icon>
                            <span (contextmenu)="__elementSelectionService.select('562532005',$event)" [ngStyle]="__elementSelectionService.getStyles('562532005')">Logs</span>
                        </a>
                    </li>
                    <li *ngIf="swaggerEnabled" (contextmenu)="__elementSelectionService.select('706604408',$event)" [ngStyle]="__elementSelectionService.getStyles('706604408')">
                        <a class="dropdown-item" routerLink="admin/docs" routerLinkActive="active" (click)="collapseNavbar()" (contextmenu)="__elementSelectionService.select('1513798505',$event)" [ngStyle]="__elementSelectionService.getStyles('1513798505')">
                            <fa-icon icon="book" [fixedWidth]="true" (contextmenu)="__elementSelectionService.select('952946504',$event)" [ngStyle]="__elementSelectionService.getStyles('952946504')"></fa-icon>
                            <span (contextmenu)="__elementSelectionService.select('631479378',$event)" [ngStyle]="__elementSelectionService.getStyles('631479378')">API</span>
                        </a>
                    </li>
                    
                </ul>
            </li>
            <li ngbDropdown class="nav-item dropdown pointer" display="dynamic" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (contextmenu)="__elementSelectionService.select('1611715507',$event)" [ngStyle]="__elementSelectionService.getStyles('1611715507')">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="account-menu" (contextmenu)="__elementSelectionService.select('1870581035',$event)" [ngStyle]="__elementSelectionService.getStyles('1870581035')">
                    <span *ngIf="!getImageUrl()" (contextmenu)="__elementSelectionService.select('831973635',$event)" [ngStyle]="__elementSelectionService.getStyles('831973635')">
                        <fa-icon icon="user" (contextmenu)="__elementSelectionService.select('141472367',$event)" [ngStyle]="__elementSelectionService.getStyles('141472367')"></fa-icon>
                        <span (contextmenu)="__elementSelectionService.select('1845851546',$event)" [ngStyle]="__elementSelectionService.getStyles('1845851546')">
                            Account
                        </span>
                    </span>
                    <span *ngIf="getImageUrl()" (contextmenu)="__elementSelectionService.select('1997269732',$event)" [ngStyle]="__elementSelectionService.getStyles('1997269732')">
                        <img [src]="getImageUrl()" class="profile-image rounded-circle" alt="Avatar" (contextmenu)="__elementSelectionService.select('1909709815',$event)" [ngStyle]="__elementSelectionService.getStyles('1909709815')">
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="account-menu" (contextmenu)="__elementSelectionService.select('206828136',$event)" [ngStyle]="__elementSelectionService.getStyles('206828136')">
                    <li *ngSwitchCase="true" (contextmenu)="__elementSelectionService.select('1228926941',$event)" [ngStyle]="__elementSelectionService.getStyles('1228926941')">
                        <a class="dropdown-item" routerLink="account/settings" routerLinkActive="active" (click)="collapseNavbar()" (contextmenu)="__elementSelectionService.select('1640722644',$event)" [ngStyle]="__elementSelectionService.getStyles('1640722644')">
                            <fa-icon icon="wrench" [fixedWidth]="true" (contextmenu)="__elementSelectionService.select('245891961',$event)" [ngStyle]="__elementSelectionService.getStyles('245891961')"></fa-icon>
                            <span (contextmenu)="__elementSelectionService.select('494624886',$event)" [ngStyle]="__elementSelectionService.getStyles('494624886')">Settings</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true" (contextmenu)="__elementSelectionService.select('730608899',$event)" [ngStyle]="__elementSelectionService.getStyles('730608899')">
                        <a class="dropdown-item" routerLink="account/password" routerLinkActive="active" (click)="collapseNavbar()" (contextmenu)="__elementSelectionService.select('293318006',$event)" [ngStyle]="__elementSelectionService.getStyles('293318006')">
                            <fa-icon icon="lock" [fixedWidth]="true" (contextmenu)="__elementSelectionService.select('1594279915',$event)" [ngStyle]="__elementSelectionService.getStyles('1594279915')"></fa-icon>
                            <span (contextmenu)="__elementSelectionService.select('423126189',$event)" [ngStyle]="__elementSelectionService.getStyles('423126189')">Password</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true" (contextmenu)="__elementSelectionService.select('1398173348',$event)" [ngStyle]="__elementSelectionService.getStyles('1398173348')">
                        <a class="dropdown-item" routerLink="account/sessions" routerLinkActive="active" (click)="collapseNavbar()" (contextmenu)="__elementSelectionService.select('520776101',$event)" [ngStyle]="__elementSelectionService.getStyles('520776101')">
                            <fa-icon icon="cloud" [fixedWidth]="true" (contextmenu)="__elementSelectionService.select('1985662000',$event)" [ngStyle]="__elementSelectionService.getStyles('1985662000')"></fa-icon>
                            <span (contextmenu)="__elementSelectionService.select('748540762',$event)" [ngStyle]="__elementSelectionService.getStyles('748540762')">Sessions</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true" (contextmenu)="__elementSelectionService.select('1281272611',$event)" [ngStyle]="__elementSelectionService.getStyles('1281272611')">
                        <a class="dropdown-item" (click)="logout()" id="logout" (contextmenu)="__elementSelectionService.select('5612620',$event)" [ngStyle]="__elementSelectionService.getStyles('5612620')">
                            <fa-icon icon="sign-out-alt" [fixedWidth]="true" (contextmenu)="__elementSelectionService.select('550425402',$event)" [ngStyle]="__elementSelectionService.getStyles('550425402')"></fa-icon>
                            <span (contextmenu)="__elementSelectionService.select('1653326714',$event)" [ngStyle]="__elementSelectionService.getStyles('1653326714')">Sign out</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="false" (contextmenu)="__elementSelectionService.select('1530227643',$event)" [ngStyle]="__elementSelectionService.getStyles('1530227643')">
                        <a class="dropdown-item" (click)="login()" id="login" (contextmenu)="__elementSelectionService.select('1995428693',$event)" [ngStyle]="__elementSelectionService.getStyles('1995428693')">
                            <fa-icon icon="sign-in-alt" [fixedWidth]="true" (contextmenu)="__elementSelectionService.select('544119217',$event)" [ngStyle]="__elementSelectionService.getStyles('544119217')"></fa-icon>
                            <span (contextmenu)="__elementSelectionService.select('474095317',$event)" [ngStyle]="__elementSelectionService.getStyles('474095317')">Sign in</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="false" (contextmenu)="__elementSelectionService.select('1826281045',$event)" [ngStyle]="__elementSelectionService.getStyles('1826281045')">
                        <a class="dropdown-item" routerLink="account/register" routerLinkActive="active" (click)="collapseNavbar()" (contextmenu)="__elementSelectionService.select('1680332256',$event)" [ngStyle]="__elementSelectionService.getStyles('1680332256')">
                            <fa-icon icon="user-plus" [fixedWidth]="true" (contextmenu)="__elementSelectionService.select('818969540',$event)" [ngStyle]="__elementSelectionService.getStyles('818969540')"></fa-icon>
                            <span (contextmenu)="__elementSelectionService.select('1021865917',$event)" [ngStyle]="__elementSelectionService.getStyles('1021865917')">Register</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
