<div class="table-responsive" *ngIf="loggers" (contextmenu)="__elementSelectionService.select('1588742399',$event)" [ngStyle]="__elementSelectionService.getStyles('1588742399')"(click)='__elementSelectionService.clear()'>
    <h2 id="logs-page-heading" (contextmenu)="__elementSelectionService.select('1351947245',$event)" [ngStyle]="__elementSelectionService.getStyles('1351947245')">Logs</h2>

    <p (contextmenu)="__elementSelectionService.select('481053872',$event)" [ngStyle]="__elementSelectionService.getStyles('481053872')">There are {{ loggers.length }} loggers.</p>

    <span (contextmenu)="__elementSelectionService.select('4724796',$event)" [ngStyle]="__elementSelectionService.getStyles('4724796')">Filter</span> <input type="text" [(ngModel)]="filter" class="form-control" (contextmenu)="__elementSelectionService.select('174541558',$event)" [ngStyle]="__elementSelectionService.getStyles('174541558')">

    <table class="table table-sm table-striped table-bordered" aria-describedby="logs-page-heading" (contextmenu)="__elementSelectionService.select('1913993772',$event)" [ngStyle]="__elementSelectionService.getStyles('1913993772')">
        <thead (contextmenu)="__elementSelectionService.select('211955986',$event)" [ngStyle]="__elementSelectionService.getStyles('211955986')">
            <tr title="click to order" (contextmenu)="__elementSelectionService.select('1282097474',$event)" [ngStyle]="__elementSelectionService.getStyles('1282097474')">
                <th scope="col" (click)="orderProp = 'name'; reverse=!reverse" (contextmenu)="__elementSelectionService.select('2087420611',$event)" [ngStyle]="__elementSelectionService.getStyles('2087420611')"><span (contextmenu)="__elementSelectionService.select('661918520',$event)" [ngStyle]="__elementSelectionService.getStyles('661918520')">Name</span></th>
                <th scope="col" (click)="orderProp = 'level'; reverse=!reverse" (contextmenu)="__elementSelectionService.select('977505381',$event)" [ngStyle]="__elementSelectionService.getStyles('977505381')"><span (contextmenu)="__elementSelectionService.select('741649214',$event)" [ngStyle]="__elementSelectionService.getStyles('741649214')">Level</span></th>
            </tr>
        </thead>

        <tr *ngFor="let logger of (loggers | pureFilter:filter:'name' | orderBy:orderProp:reverse)" (contextmenu)="__elementSelectionService.select('208230881',$event)" [ngStyle]="__elementSelectionService.getStyles('208230881')">
            <td (contextmenu)="__elementSelectionService.select('193164935',$event)" [ngStyle]="__elementSelectionService.getStyles('193164935')"><small (contextmenu)="__elementSelectionService.select('755360566',$event)" [ngStyle]="__elementSelectionService.getStyles('755360566')">{{ logger.name | slice:0:140 }}</small></td>
            <td (contextmenu)="__elementSelectionService.select('610390259',$event)" [ngStyle]="__elementSelectionService.getStyles('610390259')">
                <button (click)="changeLevel(logger.name, 'TRACE')" [ngClass]="(logger.level=='TRACE') ? 'btn-primary' : 'btn-light'" class="btn btn-sm" (contextmenu)="__elementSelectionService.select('1644241871',$event)" [ngStyle]="__elementSelectionService.getStyles('1644241871')">TRACE</button>
                <button (click)="changeLevel(logger.name, 'DEBUG')" [ngClass]="(logger.level=='DEBUG') ? 'btn-success' : 'btn-light'" class="btn btn-sm" (contextmenu)="__elementSelectionService.select('1923499590',$event)" [ngStyle]="__elementSelectionService.getStyles('1923499590')">DEBUG</button>
                <button (click)="changeLevel(logger.name, 'INFO')" [ngClass]="(logger.level=='INFO') ? 'btn-info' : 'btn-light'" class="btn btn-sm" (contextmenu)="__elementSelectionService.select('1891108727',$event)" [ngStyle]="__elementSelectionService.getStyles('1891108727')">INFO</button>
                <button (click)="changeLevel(logger.name, 'WARN')" [ngClass]="(logger.level=='WARN') ? 'btn-warning' : 'btn-light'" class="btn btn-sm" (contextmenu)="__elementSelectionService.select('1517594587',$event)" [ngStyle]="__elementSelectionService.getStyles('1517594587')">WARN</button>
                <button (click)="changeLevel(logger.name, 'ERROR')" [ngClass]="(logger.level=='ERROR') ? 'btn-danger' : 'btn-light'" class="btn btn-sm" (contextmenu)="__elementSelectionService.select('830531585',$event)" [ngStyle]="__elementSelectionService.getStyles('830531585')">ERROR</button>
                <button (click)="changeLevel(logger.name, 'OFF')" [ngClass]="(logger.level=='OFF') ? 'btn-secondary' : 'btn-light'" class="btn btn-sm" (contextmenu)="__elementSelectionService.select('1901337601',$event)" [ngStyle]="__elementSelectionService.getStyles('1901337601')">OFF</button>
            </td>
        </tr>
    </table>
</div>
