<div (contextmenu)="__elementSelectionService.select('954135657',$event)" [ngStyle]="__elementSelectionService.getStyles('954135657')"(click)='__elementSelectionService.clear()'>
    <h2 id="audits-page-heading" (contextmenu)="__elementSelectionService.select('500069112',$event)" [ngStyle]="__elementSelectionService.getStyles('500069112')">Audits</h2>

    <jhi-alert-error (contextmenu)="__elementSelectionService.select('1392291988',$event)" [ngStyle]="__elementSelectionService.getStyles('1392291988')"></jhi-alert-error>

    <div class="row" (contextmenu)="__elementSelectionService.select('1007786306',$event)" [ngStyle]="__elementSelectionService.getStyles('1007786306')">
        <div class="col-md-5" (contextmenu)="__elementSelectionService.select('887463245',$event)" [ngStyle]="__elementSelectionService.getStyles('887463245')">
            <h4 (contextmenu)="__elementSelectionService.select('1523736731',$event)" [ngStyle]="__elementSelectionService.getStyles('1523736731')">Filter by date</h4>

            <div class="input-group mb-3" (contextmenu)="__elementSelectionService.select('1830622021',$event)" [ngStyle]="__elementSelectionService.getStyles('1830622021')">
                <div class="input-group-prepend" (contextmenu)="__elementSelectionService.select('1576422445',$event)" [ngStyle]="__elementSelectionService.getStyles('1576422445')">
                    <span class="input-group-text" (contextmenu)="__elementSelectionService.select('1164033323',$event)" [ngStyle]="__elementSelectionService.getStyles('1164033323')">from</span>
                </div>
                <input type="date" class="form-control" name="start" [(ngModel)]="fromDate" (ngModelChange)="transition()" required (contextmenu)="__elementSelectionService.select('218024868',$event)" [ngStyle]="__elementSelectionService.getStyles('218024868')">

                <div class="input-group-append" (contextmenu)="__elementSelectionService.select('167536197',$event)" [ngStyle]="__elementSelectionService.getStyles('167536197')">
                    <span class="input-group-text" (contextmenu)="__elementSelectionService.select('1719981171',$event)" [ngStyle]="__elementSelectionService.getStyles('1719981171')">To</span>
                </div>
                <input type="date" class="form-control" name="end" [(ngModel)]="toDate" (ngModelChange)="transition()" required (contextmenu)="__elementSelectionService.select('784639341',$event)" [ngStyle]="__elementSelectionService.getStyles('784639341')">
            </div>
        </div>
    </div>

    <div class="alert alert-warning" *ngIf="audits?.length === 0" (contextmenu)="__elementSelectionService.select('1411246330',$event)" [ngStyle]="__elementSelectionService.getStyles('1411246330')">
        <span (contextmenu)="__elementSelectionService.select('1043948146',$event)" [ngStyle]="__elementSelectionService.getStyles('1043948146')">No audit found</span>
    </div>

    <div class="table-responsive" *ngIf="audits &#38;&#38; audits.length &#62; 0" (contextmenu)="__elementSelectionService.select('2128486026',$event)" [ngStyle]="__elementSelectionService.getStyles('2128486026')">
        <table class="table table-sm table-striped" aria-describedby="audits-page-heading" (contextmenu)="__elementSelectionService.select('1966748657',$event)" [ngStyle]="__elementSelectionService.getStyles('1966748657')">
            <thead [ngSwitch]="canLoad()" (contextmenu)="__elementSelectionService.select('1322999700',$event)" [ngStyle]="__elementSelectionService.getStyles('1322999700')">
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="transition.bind(this)" *ngSwitchCase="true" (contextmenu)="__elementSelectionService.select('998547151',$event)" [ngStyle]="__elementSelectionService.getStyles('998547151')">
                    <th scope="col" jhiSortBy="auditEventDate" (contextmenu)="__elementSelectionService.select('891350395',$event)" [ngStyle]="__elementSelectionService.getStyles('891350395')"><span (contextmenu)="__elementSelectionService.select('287438229',$event)" [ngStyle]="__elementSelectionService.getStyles('287438229')">Date</span> <fa-icon icon="sort" (contextmenu)="__elementSelectionService.select('85082074',$event)" [ngStyle]="__elementSelectionService.getStyles('85082074')"></fa-icon></th>
                    <th scope="col" jhiSortBy="principal" (contextmenu)="__elementSelectionService.select('452967249',$event)" [ngStyle]="__elementSelectionService.getStyles('452967249')"><span (contextmenu)="__elementSelectionService.select('679921216',$event)" [ngStyle]="__elementSelectionService.getStyles('679921216')">User</span> <fa-icon icon="sort" (contextmenu)="__elementSelectionService.select('915739544',$event)" [ngStyle]="__elementSelectionService.getStyles('915739544')"></fa-icon></th>
                    <th scope="col" jhiSortBy="auditEventType" (contextmenu)="__elementSelectionService.select('577570431',$event)" [ngStyle]="__elementSelectionService.getStyles('577570431')"><span (contextmenu)="__elementSelectionService.select('1169097808',$event)" [ngStyle]="__elementSelectionService.getStyles('1169097808')">State</span> <fa-icon icon="sort" (contextmenu)="__elementSelectionService.select('1527086691',$event)" [ngStyle]="__elementSelectionService.getStyles('1527086691')"></fa-icon></th>
                    <th scope="col" (contextmenu)="__elementSelectionService.select('1158852424',$event)" [ngStyle]="__elementSelectionService.getStyles('1158852424')"><span (contextmenu)="__elementSelectionService.select('260441963',$event)" [ngStyle]="__elementSelectionService.getStyles('260441963')">Extra data</span></th>
                </tr>
                <tr *ngSwitchCase="false" (contextmenu)="__elementSelectionService.select('842407759',$event)" [ngStyle]="__elementSelectionService.getStyles('842407759')">
                    <th scope="col" (contextmenu)="__elementSelectionService.select('1118869772',$event)" [ngStyle]="__elementSelectionService.getStyles('1118869772')"><span (contextmenu)="__elementSelectionService.select('302515965',$event)" [ngStyle]="__elementSelectionService.getStyles('302515965')">Date</span></th>
                    <th scope="col" (contextmenu)="__elementSelectionService.select('755689096',$event)" [ngStyle]="__elementSelectionService.getStyles('755689096')"><span (contextmenu)="__elementSelectionService.select('801396737',$event)" [ngStyle]="__elementSelectionService.getStyles('801396737')">User</span></th>
                    <th scope="col" (contextmenu)="__elementSelectionService.select('1778043916',$event)" [ngStyle]="__elementSelectionService.getStyles('1778043916')"><span (contextmenu)="__elementSelectionService.select('999751712',$event)" [ngStyle]="__elementSelectionService.getStyles('999751712')">State</span></th>
                    <th scope="col" (contextmenu)="__elementSelectionService.select('1095995260',$event)" [ngStyle]="__elementSelectionService.getStyles('1095995260')"><span (contextmenu)="__elementSelectionService.select('1289409287',$event)" [ngStyle]="__elementSelectionService.getStyles('1289409287')">Extra data</span></th>
                </tr>
            </thead>
            <tbody (contextmenu)="__elementSelectionService.select('1937767484',$event)" [ngStyle]="__elementSelectionService.getStyles('1937767484')">
                <tr *ngFor="let audit of audits" (contextmenu)="__elementSelectionService.select('1894413427',$event)" [ngStyle]="__elementSelectionService.getStyles('1894413427')">
                    <td (contextmenu)="__elementSelectionService.select('757017981',$event)" [ngStyle]="__elementSelectionService.getStyles('757017981')"><span (contextmenu)="__elementSelectionService.select('927433010',$event)" [ngStyle]="__elementSelectionService.getStyles('927433010')">{{ audit.timestamp | date:'medium' }}</span></td>
                    <td (contextmenu)="__elementSelectionService.select('1003816442',$event)" [ngStyle]="__elementSelectionService.getStyles('1003816442')"><small (contextmenu)="__elementSelectionService.select('406824735',$event)" [ngStyle]="__elementSelectionService.getStyles('406824735')">{{ audit.principal }}</small></td>
                    <td (contextmenu)="__elementSelectionService.select('1285490080',$event)" [ngStyle]="__elementSelectionService.getStyles('1285490080')">{{ audit.type }}</td>
                    <td (contextmenu)="__elementSelectionService.select('1205490448',$event)" [ngStyle]="__elementSelectionService.getStyles('1205490448')">
                        <span *ngIf="audit.data?.message" (contextmenu)="__elementSelectionService.select('1421046980',$event)" [ngStyle]="__elementSelectionService.getStyles('1421046980')">{{ audit.data.message }}</span>
                        <span *ngIf="audit.data?.remoteAddress" (contextmenu)="__elementSelectionService.select('835794450',$event)" [ngStyle]="__elementSelectionService.getStyles('835794450')"><span (contextmenu)="__elementSelectionService.select('98015117',$event)" [ngStyle]="__elementSelectionService.getStyles('98015117')">Remote Address</span> {{ audit.data.remoteAddress }}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="audits &#38;&#38; audits.length &#62; 0" (contextmenu)="__elementSelectionService.select('268437236',$event)" [ngStyle]="__elementSelectionService.getStyles('268437236')">
        <div class="row justify-content-center" (contextmenu)="__elementSelectionService.select('1599755620',$event)" [ngStyle]="__elementSelectionService.getStyles('1599755620')">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage" (contextmenu)="__elementSelectionService.select('1728284987',$event)" [ngStyle]="__elementSelectionService.getStyles('1728284987')"></jhi-item-count>
        </div>

        <div class="row justify-content-center" (contextmenu)="__elementSelectionService.select('1590755753',$event)" [ngStyle]="__elementSelectionService.getStyles('1590755753')">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="transition()" [disabled]="!canLoad()" (contextmenu)="__elementSelectionService.select('1316395809',$event)" [ngStyle]="__elementSelectionService.getStyles('1316395809')"></ngb-pagination>
        </div>
    </div>
</div>
