<div (contextmenu)="__elementSelectionService.select('1150363746',$event)" [ngStyle]="__elementSelectionService.getStyles('1150363746')"(click)='__elementSelectionService.clear()'>
    <h2 id="session-page-heading" *ngIf="account" (contextmenu)="__elementSelectionService.select('343486427',$event)" [ngStyle]="__elementSelectionService.getStyles('343486427')">Active sessions for [<b (contextmenu)="__elementSelectionService.select('1499907854',$event)" [ngStyle]="__elementSelectionService.getStyles('1499907854')">{{ account.login }}</b>]</h2>

    <div class="alert alert-success" *ngIf="success" (contextmenu)="__elementSelectionService.select('422367244',$event)" [ngStyle]="__elementSelectionService.getStyles('422367244')">
        <strong (contextmenu)="__elementSelectionService.select('946006631',$event)" [ngStyle]="__elementSelectionService.getStyles('946006631')">Session invalidated!</strong>
    </div>

    <div class="alert alert-danger" *ngIf="error" (contextmenu)="__elementSelectionService.select('1706560839',$event)" [ngStyle]="__elementSelectionService.getStyles('1706560839')">
        <strong (contextmenu)="__elementSelectionService.select('168421449',$event)" [ngStyle]="__elementSelectionService.getStyles('168421449')">An error has occurred!</strong> The session could not be invalidated.
    </div>

    <div class="table-responsive" (contextmenu)="__elementSelectionService.select('1977279924',$event)" [ngStyle]="__elementSelectionService.getStyles('1977279924')">
        <table class="table table-striped" aria-describedby="session-page-heading" (contextmenu)="__elementSelectionService.select('1514412218',$event)" [ngStyle]="__elementSelectionService.getStyles('1514412218')">
            <thead (contextmenu)="__elementSelectionService.select('2134111360',$event)" [ngStyle]="__elementSelectionService.getStyles('2134111360')">
                <tr (contextmenu)="__elementSelectionService.select('985464975',$event)" [ngStyle]="__elementSelectionService.getStyles('985464975')">
                    <th scope="col" (contextmenu)="__elementSelectionService.select('409515305',$event)" [ngStyle]="__elementSelectionService.getStyles('409515305')">IP Address</th>
                    <th scope="col" (contextmenu)="__elementSelectionService.select('1653866326',$event)" [ngStyle]="__elementSelectionService.getStyles('1653866326')">User agent</th>
                    <th scope="col" (contextmenu)="__elementSelectionService.select('40145008',$event)" [ngStyle]="__elementSelectionService.getStyles('40145008')">Date</th>
                    <th scope="col" (contextmenu)="__elementSelectionService.select('1343181259',$event)" [ngStyle]="__elementSelectionService.getStyles('1343181259')"></th>
                </tr>
            </thead>
            <tbody (contextmenu)="__elementSelectionService.select('227768094',$event)" [ngStyle]="__elementSelectionService.getStyles('227768094')">
                <tr *ngFor="let session of sessions" (contextmenu)="__elementSelectionService.select('1879523509',$event)" [ngStyle]="__elementSelectionService.getStyles('1879523509')">
                    <td (contextmenu)="__elementSelectionService.select('1455864277',$event)" [ngStyle]="__elementSelectionService.getStyles('1455864277')">{{ session.ipAddress }}</td>
                    <td (contextmenu)="__elementSelectionService.select('2095922127',$event)" [ngStyle]="__elementSelectionService.getStyles('2095922127')">{{ session.userAgent }}</td>
                    <td (contextmenu)="__elementSelectionService.select('1792051403',$event)" [ngStyle]="__elementSelectionService.getStyles('1792051403')">{{ session.tokenDate | date:'longDate' }}</td>
                    <td (contextmenu)="__elementSelectionService.select('546865100',$event)" [ngStyle]="__elementSelectionService.getStyles('546865100')">
                        <button type="submit" class="btn btn-primary" (click)="invalidate(session.series)" (contextmenu)="__elementSelectionService.select('1140027931',$event)" [ngStyle]="__elementSelectionService.getStyles('1140027931')">
                            Invalidate
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
