<div *ngIf="allBeans" (contextmenu)="__elementSelectionService.select('782324664',$event)" [ngStyle]="__elementSelectionService.getStyles('782324664')"(click)='__elementSelectionService.clear()'>
    <h2 id="configuration-page-heading" (contextmenu)="__elementSelectionService.select('1282981803',$event)" [ngStyle]="__elementSelectionService.getStyles('1282981803')">Configuration</h2>

    <span (contextmenu)="__elementSelectionService.select('1751128335',$event)" [ngStyle]="__elementSelectionService.getStyles('1751128335')">Filter (by prefix)</span> <input type="text" [(ngModel)]="beansFilter" (ngModelChange)="filterAndSortBeans()" class="form-control" (contextmenu)="__elementSelectionService.select('378378871',$event)" [ngStyle]="__elementSelectionService.getStyles('378378871')">

    <h3 id="spring-configuration" (contextmenu)="__elementSelectionService.select('1281858338',$event)" [ngStyle]="__elementSelectionService.getStyles('1281858338')">Spring configuration</h3>

    <table class="table table-striped table-bordered table-responsive d-table" aria-describedby="spring-configuration" (contextmenu)="__elementSelectionService.select('1164701922',$event)" [ngStyle]="__elementSelectionService.getStyles('1164701922')">
        <thead (contextmenu)="__elementSelectionService.select('766189857',$event)" [ngStyle]="__elementSelectionService.getStyles('766189857')">
            <tr jhiSort predicate="prefix" [(ascending)]="beansAscending" [callback]="filterAndSortBeans.bind(this)" (contextmenu)="__elementSelectionService.select('1469008065',$event)" [ngStyle]="__elementSelectionService.getStyles('1469008065')">
                <th jhiSortBy="prefix" scope="col" class="w-40" (contextmenu)="__elementSelectionService.select('658597785',$event)" [ngStyle]="__elementSelectionService.getStyles('658597785')"><span (contextmenu)="__elementSelectionService.select('1027047283',$event)" [ngStyle]="__elementSelectionService.getStyles('1027047283')">Prefix</span> <fa-icon icon="sort" (contextmenu)="__elementSelectionService.select('1231156189',$event)" [ngStyle]="__elementSelectionService.getStyles('1231156189')"></fa-icon></th>
                <th scope="col" class="w-60" (contextmenu)="__elementSelectionService.select('1678074736',$event)" [ngStyle]="__elementSelectionService.getStyles('1678074736')"><span (contextmenu)="__elementSelectionService.select('1221901766',$event)" [ngStyle]="__elementSelectionService.getStyles('1221901766')">Properties</span></th>
            </tr>
        </thead>
        <tbody (contextmenu)="__elementSelectionService.select('1319014216',$event)" [ngStyle]="__elementSelectionService.getStyles('1319014216')">
            <tr *ngFor="let bean of beans" (contextmenu)="__elementSelectionService.select('145187421',$event)" [ngStyle]="__elementSelectionService.getStyles('145187421')">
                <td (contextmenu)="__elementSelectionService.select('1207340762',$event)" [ngStyle]="__elementSelectionService.getStyles('1207340762')"><span (contextmenu)="__elementSelectionService.select('715202927',$event)" [ngStyle]="__elementSelectionService.getStyles('715202927')">{{ bean.prefix }}</span></td>
                <td (contextmenu)="__elementSelectionService.select('285155260',$event)" [ngStyle]="__elementSelectionService.getStyles('285155260')">
                    <div class="row" *ngFor="let property of bean.properties | keys" (contextmenu)="__elementSelectionService.select('603529844',$event)" [ngStyle]="__elementSelectionService.getStyles('603529844')">
                        <div class="col-md-4" (contextmenu)="__elementSelectionService.select('1342892175',$event)" [ngStyle]="__elementSelectionService.getStyles('1342892175')">{{ property.key }}</div>
                        <div class="col-md-8" (contextmenu)="__elementSelectionService.select('1929576888',$event)" [ngStyle]="__elementSelectionService.getStyles('1929576888')">
                            <span class="float-right badge-secondary break" (contextmenu)="__elementSelectionService.select('468316827',$event)" [ngStyle]="__elementSelectionService.getStyles('468316827')">{{ property.value | json }}</span>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <div *ngFor="let propertySource of propertySources; let i = index" (contextmenu)="__elementSelectionService.select('1902741776',$event)" [ngStyle]="__elementSelectionService.getStyles('1902741776')">
        <h4 [id]="'property-source-' + i" (contextmenu)="__elementSelectionService.select('1990215970',$event)" [ngStyle]="__elementSelectionService.getStyles('1990215970')"><span (contextmenu)="__elementSelectionService.select('499484815',$event)" [ngStyle]="__elementSelectionService.getStyles('499484815')">{{ propertySource.name }}</span></h4>

        <table class="table table-sm table-striped table-bordered table-responsive d-table" [attr.aria-describedby]="'property-source-' + i" (contextmenu)="__elementSelectionService.select('1231871110',$event)" [ngStyle]="__elementSelectionService.getStyles('1231871110')">
            <thead (contextmenu)="__elementSelectionService.select('1961946546',$event)" [ngStyle]="__elementSelectionService.getStyles('1961946546')">
                <tr (contextmenu)="__elementSelectionService.select('7164759',$event)" [ngStyle]="__elementSelectionService.getStyles('7164759')">
                    <th scope="col" class="w-40" (contextmenu)="__elementSelectionService.select('836575781',$event)" [ngStyle]="__elementSelectionService.getStyles('836575781')">Property</th>
                    <th scope="col" class="w-60" (contextmenu)="__elementSelectionService.select('519716980',$event)" [ngStyle]="__elementSelectionService.getStyles('519716980')">Value</th>
                </tr>
            </thead>
            <tbody (contextmenu)="__elementSelectionService.select('1838461796',$event)" [ngStyle]="__elementSelectionService.getStyles('1838461796')">
                <tr *ngFor="let property of propertySource.properties | keys" (contextmenu)="__elementSelectionService.select('118071914',$event)" [ngStyle]="__elementSelectionService.getStyles('118071914')">
                    <td class="break" (contextmenu)="__elementSelectionService.select('1595761828',$event)" [ngStyle]="__elementSelectionService.getStyles('1595761828')">{{ property.key }}</td>
                    <td class="break" (contextmenu)="__elementSelectionService.select('329803475',$event)" [ngStyle]="__elementSelectionService.getStyles('329803475')">
                        <span class="float-right badge-secondary break" (contextmenu)="__elementSelectionService.select('1534060625',$event)" [ngStyle]="__elementSelectionService.getStyles('1534060625')">{{ property.value.value }}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
