<div class="footer" (contextmenu)="__elementSelectionService.select('588153746',$event)" [ngStyle]="__elementSelectionService.getStyles('588153746')"(click)='__elementSelectionService.clear()'>
    <p (contextmenu)="__elementSelectionService.select('1258682201',$event)" [ngStyle]="__elementSelectionService.getStyles('1258682201')">This is your footer</p>
</div>
