<div (contextmenu)="__elementSelectionService.select('1830469109',$event)" [ngStyle]="__elementSelectionService.getStyles('1830469109')"(click)='__elementSelectionService.clear()'>
    <div class="row justify-content-center" (contextmenu)="__elementSelectionService.select('452739680',$event)" [ngStyle]="__elementSelectionService.getStyles('452739680')">
        <div class="col-md-8" (contextmenu)="__elementSelectionService.select('1118423993',$event)" [ngStyle]="__elementSelectionService.getStyles('1118423993')">
            <h1 (contextmenu)="__elementSelectionService.select('1908030680',$event)" [ngStyle]="__elementSelectionService.getStyles('1908030680')">Activation</h1>

            <div class="alert alert-success" *ngIf="success" (contextmenu)="__elementSelectionService.select('957771831',$event)" [ngStyle]="__elementSelectionService.getStyles('957771831')">
                <span (contextmenu)="__elementSelectionService.select('1090640439',$event)" [ngStyle]="__elementSelectionService.getStyles('1090640439')"><strong (contextmenu)="__elementSelectionService.select('1308177837',$event)" [ngStyle]="__elementSelectionService.getStyles('1308177837')">Your user account has been activated.</strong> Please </span>
                <a class="alert-link" (click)="login()" (contextmenu)="__elementSelectionService.select('1837468726',$event)" [ngStyle]="__elementSelectionService.getStyles('1837468726')">sign in</a>.
            </div>

            <div class="alert alert-danger" *ngIf="error" (contextmenu)="__elementSelectionService.select('1738067577',$event)" [ngStyle]="__elementSelectionService.getStyles('1738067577')">
                <strong (contextmenu)="__elementSelectionService.select('679964895',$event)" [ngStyle]="__elementSelectionService.getStyles('679964895')">Your user could not be activated.</strong> Please use the registration form to sign up.
            </div>
        </div>
    </div>
</div>
